body{
    background-color: #51062c;
    color: #f9f6f6 !important;
    overflow: hidden;
}

.nav-tab{
    background-color: #51062c;
}
.nav-header, .nav-tab{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    width: 50px;
}

i{
    cursor: pointer;
}
.meal-layer{
    width: 100%;
    height: 100%;
    background-color: #f9f6f6ca;
    top: 100%;
    transition:all .5s;
}

.meal:hover .meal-layer{
    top: 0;
}

.side-nav-menu{
    z-index: 99;
}

.cursor-pointer{
    cursor: pointer;
}
.inner-loading{
    position: absolute;
    z-index: 9;
    background-color: #51062c;
    display: flex;
}
.alert{
    width: fit-content;
}
::placeholder{
    color: #f9f6f6 !important ;
}